@import "variables";
@import "mixins";

@import "./elements/home.scss";
@import "./elements/footer.scss";
@import "./elements/header.scss";

body {
    background-color: $darkblue;

    margin: 0;
    padding: 0;
    font-family: $p;
}

html  {
    scroll-behavior: smooth;
}
