<footer>
    <div class="footercontainer">
        <div class="imgwrapper">
            <a href="/"><img src="/assets/Kvitter-Logo.png" alt="Logo" /></a>
        </div>
        <div class="wrapper">
            <p><a href="">About us</a></p>
            <p><a href="">Contact</a></p>
        </div>
        {{! <div class="imgwrapper">
            <a href="/"><img src="/assets/Kvitter-Logo.png" alt="Logo" /></a>
        </div> }}
        <div class="wrapper">
            <p><a href="">Terms</a></p>
            <p><a href="">Privacy</a></p>
            <p><a href="">Cookies</a></p>
        </div>
        <div class="wrapper">
            <p>© 2010-2022 Kvitter Group AB Listed on Nasdaq First North Growth
                Market
            </p>
        </div>
        <div class="wrapper">
            <p>support@kvitter.com - 020-12 12 11</p>
        </div>
    </div>
</footer>