<h2>Profil sida</h2>

{{! Profilbild }}
<div>
  <img src="" alt="Profilbild" />
</div>

{{! Namn }}
<p>Användare: namn {{username}} </p>

{{! Bio }}
<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis est
    saepe laboriosam laborum quam assumenda enim. Ut consectetur perspiciatis,
    pariatur porro est a libero aspernatur facilis sint vero, modi eum!</p>
</div>

{{! Log out }}
<form action="/logga-ut" method="post">
  <input type="submit" value="Logga ut" />
</form>

{{! Ta bort användare }}
<form action="/ta-bort-profil" method="post">
  <input type="submit" value="Ta bort profil" />
</form>