{{! Favorites}}
<div>
  <h5>Ändra favorit och beskrivning</h5>
  <form action="/favorites/add" method="post">
    <input
      type="text"
      name="description"
      value="{{description}}"
      placeholder="Berätta om varför du gillar det här"
    />
    <select name="postId">
      <option value="" disabled selected>Välj bland allt kvitter</option>
      {{#each favorites}}
        <option value="{{_id}}">{{post.content}} - {{user.username}}</option>
      {{/each}}
    </select>

    <input type="submit" value="Spara" />
  </form>
</div>