.mainwrapper {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    .formwrapper {
        width: 80%;
        padding: 10px;
        @include for-phone-landscape-up {
            width: 50%;
        }
        article {
            // background-color: #5c547054;
            border: 1px solid $purple;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
            a {
                color: $green;
                padding: 10px;
            }
            p {
                color: white;
                padding: 10px;
                margin-top: -5px;
            }
        }
        @include for-desktop-up {
            width: 30%;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            font-family: $p;
            justify-content: space-between;
        }
        a {
            width: 45%;
        }
        // button,
        input {
            width: 100%;
            border-radius: 5px;
            height: 50px;
            border: 1px solid $purple;
            margin-bottom: 15px;
            padding-left: 30px;
            font-family: $p;
            font-size: 12pt;
            background-color: $darkblue;
            color: $green;

            &#btn-style {
                outline: none;
                border: 1px solid $green;
                // background-color: $green;
                color: $green;
                padding: 0;
                width: 45%;
                transition: transform 0.1s ease-in;
            }
            &:focus {
                outline: none;
                border: 1px solid $green;
            }
        }
    }
}

.register-btn {
    background-color: $green;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: $darkblue;
    font-family: $p;
    font-size: 12pt;
    transition: transform 0.1s ease-in;
}

#btn-style:hover,
.register-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

::placeholder {
    color: $green;
}

.textwrapper {
    border-top: 1px solid $green;
    display: flex;
    justify-content: center;
    color: rgb(131, 131, 131);
    padding-top: 15px;
    margin-top: 20px;
    p {
        transition: color 0.2s ease-in-out;
        font-size: 11pt;
        font-family: $light;
    }
    p:hover {
        cursor: pointer;
        color: $green;
    }
}
