.profilepage {
  color: white;
  width: 60%;

  input {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    border: 1px solid $purple;
    margin-bottom: 15px;
    font-family: $p;
    font-size: 12pt;
    background-color: $darkblue;
    color: $green;
  }
  #btn-style:hover,
  .register-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  ::placeholder {
    color: $green;
  }
  .user {
    display: flex;
    align-items: center;
    padding: 10px;
    div {
      :nth-child(2) {
        font-family: $light;
      }
    }
    p {
      padding-left: 30px;
    }
    img {
      width: 70px;
      height: 70px;
    }
  }

  a {
    color: $green;
    text-decoration: none;
  }

  .btn-style {
    border: 1px solid $green;
    color: $green;
    padding: 0;
    width: 45%;
    transition: transform 0.1s ease-in;
  }

  .sloganContainer {
    border: $green 0.2px solid;
    border-radius: 5px;
    margin: 20px 0 60px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    :nth-child(2) {
      font-family: $light;
    }
  }
  .favoritesContainer {
    border: $green 0.2px solid;
    border-radius: 5px;
    margin: 20px 0 60px 0;

    .favorite {
      border: $green 0.2px solid;
      border-radius: 5px;
      margin: 20px 0 40px 0;

      a {
        font-family: $p;
        color: $green;
        text-decoration: none;
      }
    }
  }
}
