<h2>Profil sida</h2>

{{! Profilbild }}
{{! Temporary styling }}
<div>
  <img
    src="/assets/profile-pitcure.png"
    width="100px"
    height="100px"
    alt="Profilbild"
  />
</div>

{{! Namn }}
<p>Användare: {{username}} </p>

{{! Slogan }}
<p>Slogan: {{slogan}}</p>

<p>
  <a href="/users/profile/edit/{{userId}}">Ändra profil</a>
</p>

<p>
  <a href="/">Hem</a>
</p>

{{! Log out }}
<form action="/users/log-out" method="post">
  <input type="submit" value="Logga ut " />
</form>

{{! Remove user }}
<form action="/users/profile/remove/{{userId}}" method="post">
  <input type="submit" value="Ta bort profil" />
</form>