<h2>Register new user</h2>

<form action="/users/register" method="post">
    <input type="text" name="username" id="" placeholder="Username" />
    <input type="password" name="password" id="" placeholder="Password" />
    <input
        type="password"
        name="confirmPassword"
        id=""
        placeholder="Confirm password"
    />
    <input type="text" name="secret" id="" placeholder="Secret" />
    <input type="submit" value="Register" />
</form>