<h2>Are you sure you want to delete this kveet?</h2>
<p>{{content}}</p>
<p>{{formatDate time}}</p>
<form action="/kvittra/delete/{{_id}}" method="post">
    <input type="submit" value="delete" />
</form>